@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

}

header {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: relative;
}

header .logo img {
    width: 80px;
    height: auto;
    flex: 1;
}

.menu {
    flex: 3;
    display: flex;

}

.menu li {
    padding: 0 12px;
    position: relative;
}

.menu li:hover .sub-menu {
    visibility: visible;
    top: 30px;
}

.sub-menu {
    position: absolute;
    width: 200px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;
}

.sub-menu ul {
    padding-left: 20px;
}

.sub-menu li a {
    font-weight: normal;
    font-size: 13px !important;
}

header .menu li a {
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 0 30px;
    font-weight: bold;
    display: block;
    line-height: 20px;
}

.orthers {
    flex: 1;
    display: flex;
}

.orthers li {
    padding: 0 12px;
}

.orthers li:first-child {
    position: relative;

}

.orthers li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(147, 74, 74);
}

.orthers li:first-child i {
    position: absolute;
    right: 10px;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.15;
    color: #111;
}

#wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.headline {
    text-align: center;
    margin: 40px 0px;
}

h4 {
    font-size: 18px;
    color: #111;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
    color: #555;
    font-weight: 600;
}

.footer-content  a {
    color: white !important;
  } 
ul.products {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

ul.products li {
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;

}

ul.products li img {
    max-width: 100%;
    height: auto;
}

ul.products li .product-info {
    padding: 20px 0px;
}

ul.products li .product-info a {
    display: block;
    text-decoration: none;
}

ul.products li .product-info a.product-cat {
    font-size: 11px;
    text-transform: uppercase;
    color: #9e9e9e;
    padding: 3px 0px;
}

ul.products li .product-info a .product-name {
    color: #334862;
    padding: 3px 0px;
}

ul.products li .product-info .product-price {
    color: #111;
    padding: 2px 0px;
    font-weight: 600;
}

#khung {
    max-width: 1170px;
    margin: 0 auto;
}

.khungchu {
    text-align: center;
    margin: 40px 0px;
}

h5 {
    font-size: 18px;
    color: #111;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
    color: #555;
    font-weight: 600;
}

ul.hinhanh {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

ul.hinhanh li {
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;

}

ul.hinhanh li img {
    max-width: 100%;
    height: auto;
}

ul.hinhanh li .info {
    padding: 20px 0px;
}

ul.hinhanh li .info a {
    display: block;
    text-decoration: none;
}

ul.hinhanh li .info {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    padding: 3px 0px;
}

.product-item {
    position: relative;
}

.product-price p {
    padding: 0 3px;
}

.product-price span,
p {
    display: inline-block;
}

.price-default {
    text-decoration: line-through;
}

.price-sale {
    color: blue;
}

.product-sale {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #8c8c8c;
    color: #fff;
    padding: 5px
}
footer {
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "open sans";
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h6 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;

}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a::hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.box {
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: transparent;
    border-radius: 50px;
    padding: 0 10px
}

.sbutton {
    color: #e84118;
        width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #DADADA;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s;
}

.sbox:hover .stext {
    width: 200px;
    padding: 0 5px;
    border-radius: 50px;}

.box:hover {
    background-color: #DADADA;
}


.sbox:hover>.sbutton {
    width: 40px; 
    height: 40px;
    border-radius: 0%;
    background-color: transparent;
align-self: center;
}

.stext {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #555;
    font-size: 15px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.fa-search {
    color: #001EFF;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;

  }
 /* thiết lập style cho class active */
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
 /* thêm màu nền khi người dùng hover vào class không active */
  .pagination a:hover:not(.active) {
    background-color: #ddd;
}